@{
    ViewData["Title"] = "Home Page";
}
<br />
<h1 class="display-4"><strong> <em>Welcome to EventEase Venue Booking System</em> </strong></h1>
<h1>------------------------------------------------------------------------</h1>    

     

   

   